node_modules/
frontend/node_modules/
frontend/dist/
backend/__pycache__/
backend/*.pyc
__pycache__/
*.pyc
.env
translations_cache/
release/
dist/
*.exe
*.dmg
*.deb
build/*.ico
build/*.icns
build/
.DS_Store
*.pdf
*.docx
*.doc
*_翻译.docx
图片.png
backend/*.md
frontend/tsconfig.tsbuildinfo
electron/release/